:root {
  --primary-color: #333;
  --font-color: #ccc;
  --hovered-color: #fff;
}
body {
  text-transform: capitalize;
  font-size: 14px;
}
body::-webkit-scrollbar {
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: #f50;
  border-radius: 15px;
}
/* Start Of the navbar */
nav .row {
  background-color: var(--primary-color);
  color: var(--font-color);
  height: 45px;
}
nav .row .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-right: 0;
  color: #bbb;
  transition: 0.5s;
}
nav .row .left .logo {
  background-color: orangered;
  height: 100%;
  padding-top: 10px;
  color: white;
}
nav .row .left .logo a {
  text-decoration: none;
  color: white;
}
nav .row .left .home {
  height: 100%;
  border-right: solid black 1px;
}
nav .row .left .home a {
  color: #ccc;
  height: 100%;
  display: block;
  padding-top: 10px;
  text-decoration: none;
}
nav .row .left .feed {
  height: 100%;
  border-right: solid black 1px;
}
nav .row .left .feed a {
  color: #ccc;
  height: 100%;
  padding-top: 10px;
  display: block;
  text-decoration: none;
}
nav .row .left .library {
  height: 100%;
  border-right: solid black 1px;
}
nav .row .left .library a {
  color: #ccc;
  height: 100%;
  padding-top: 10px;
  display: block;
  text-decoration: none;
}
nav .row .left .home a:hover,
nav .row .left .feed a:hover,
nav .row .left .library a:hover {
  color: white;
}
.active {
  background-color: black;
}
.active:hover a {
  color: #ccc !important;
}
/* End Of the left part of the navbar */

/* Start Of the Center part of the navbar */
nav .row .search {
  position: relative;
}
nav .row .search input {
  width: calc(100% + 50px);
  margin-top: 5px;
  height: 30px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding-left: 11px;
  background-color: #e5e5e5;
  color: #666;
  transition: 0.5s;
}
nav .row .search i {
  color: var(--primary-color);
  position: absolute;
  font-size: 18px;
  right: -31px;
  top: calc(50% - 2px);
  transform: translateY(-50%);
}
nav .row .search input:focus {
  background-color: white;
}
/* End Of the Center part of the navbar */

/* Start Of the Right part of the navbar */
nav .row .right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .row .right .pro {
  padding-left: 15px;
  height: 30px;
  margin-top: 10px;
}
nav .row .right .pro a {
  text-decoration: none;
  color: #f70;
  font-size: 14px;
  margin-left: 28px;
}
nav .row .right .pro a:hover {
  color: #f70;
}
nav .row .right .artist {
  padding-left: 15px;
  height: 30px;
  margin-top: 10px;
}
nav .row .right .artist:hover {
  color: var(--hovered-color);
}
nav .row .right .upload {
  padding-left: 20px;
  height: 30px;
  margin-top: 10px;
}
nav .row .right .upload:hover {
  color: var(--hovered-color);
}
nav .row .right .userDownList {
  padding-left: 20px;
  margin-left: -25px;
}
/* 
.userDownList .dropdown-toggle::after{

} 
*/
nav .row .right .userDownList ul .nav-item .dropdown-menu li {
  display: flex;
  align-items: center;
}
nav .row .right .userDownList ul .nav-item .dropdown-menu li i {
  padding-left: 10px;
  color: #aaa;
}
div.userDownList.col-2 > ul > li > ul > li:active,
div.userDownList.col-2 > ul > li > ul > li > a:active {
  background-color: #f50;
}
.bellDownList .dropdown-toggle::after {
  display: none;
}

div.bellDownList.col-1 > ul > li > ul {
  width: 415px;
  margin-right: -105px !important;
  padding: 10px;
}
.dropdown-menu .top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}
.dropdown-menu .top div {
  font-size: 12px;
  color: lightgray;
}
.dropdown-menu .top div:hover {
  color: black;
}
div.bellDownList.col-1 div.center > p {
  text-align: center;
  padding-top: 1rem;
  color: #aaa;
  font-size: 14px;
}
div.bellDownList.col-1 div.bottom > p {
  text-align: center;
  font-size: 14px;
  margin: 0px;
}

.messages .dropdown-toggle::after {
  display: none;
}

div.messages.col-1 > ul > li > ul {
  width: 410px;
  margin-right: -50px !important;
  padding: 10px;
}

div.moreDownList.col-1 > ul > li > ul > li > a:active {
  background-color: #f50;
}

.messages.col-1.dropdown-menu .top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}
div.messages.col-1 div.center > p {
  text-align: center;
  padding-top: 1rem;
  color: #aaa;
  font-size: 14px;
}
div.messages.col-1 div.bottom > p {
  text-align: center;
  font-size: 14px;
  margin: 0px;
}
.moreDownList .dropdown-toggle::after {
  display: none;
}
#borderUnder {
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
}
.btn {
  border: none;
  background-color: transparent;
  color: var(--font-color);
  cursor: pointer;
}
.btn:hover {
  color: var(--hovered-color);
}
/* End Of the Right part of the navbar */

/* Start OF bottom nav */
.play {
  height: 50px;
  padding: 0px 50px;
  background-color: #f2f2f2;
  border-top: solid 1px #bbb;
}
.play .row {
  height: 100%;
}
.play .row .left .controls {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
.play .row .left .controls i {
  cursor: pointer;
}
.play .row .left .controls i:not(:nth-child(2)):hover {
  color: #f50;
}
.play .row .center {
  position: relative;
}
.play .row .center .mainSlider {
  width: 500px;
  position: relative;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}
.play .row .center .mainSlider #PlayBar {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  outline: none;
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bbb;
}
.play .row .center .mainSlider #PlayBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.play .row .center .mainSlider #selector {
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: -1px;
  left: 8px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}
.play .row .center .mainSlider .progressBar {
  width: 0px;
  height: 1px;
  background-color: #f50;
  position: absolute;
  top: 0;
  left: 0;
}
.play .row .center .mainSlider #selector .selectBtn {
  width: 10px;
  height: 10px;
  background-color: #f50;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.play .row .center .currentTimer,
.play .row .center .remainingTimer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.play .row .center .currentTimer {
  left: 6%;
}
.play .row .center .remainingTimer {
  left: 95%;
}
.play .row .right {
  display: flex;
  position: relative;
  left: 30px;
}
.play .row .right img {
  width: 44px;
  padding-top: 2px;
  border-radius: 12px;
  filter: grayscale(1);
  transition: 0.5s;
  cursor: pointer;
}
.play .row .right img:hover {
  filter: grayscale(0);
}
.play .row .right .footerRightPart h6 {
  margin: 7px 0 0 10px;
  color: #aaa;
}
.play .row .right .footerRightPart p {
  margin: 0 0 0 10px;
  color: #aaa;
}
.play .row .right .footerRightPart h6:hover,
.play .row .right .footerRightPart p:hover {
  color: #333;
}
.play .row .right .footerRightPartIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: calc(50% + 95px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
}
.play .row .right .footerRightPart h6,
.play .row .right .footerRightPart p,
.play .row .right .footerRightPartIcons i {
  cursor: pointer;
}
.play .row .right .footerRightPartIcons i:hover {
  color: #f50;
}
/* End OF bottom nav */
