:root{
    --primary-color: #333;
    --font-color:#ccc;
    --hovered-color:#fff;
}


body{
    text-transform: capitalize;
    font-size: 14px;
}


div.row{
background-color: var(--primary-color);
color:var(--font-color);

height: 7vh;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#toTheLeft{
    margin-left: -30px;
    background-color: orangered;
    height: 100%;
    padding: 10px 27px 0px 17px;
    color: #fefefefe;
}

.home{
    margin-left: -70px;
    height: 100%;
    padding:10px 27px 0;
    border-right: solid black 1px;
    background-color: black;
}
.feed{
    margin-left: -50px;
    height: 100%;
    padding: 10px 27px 0px 17px;
    border-right: solid black 1px;
    
}
.library{
    margin-left: -50px;
    height: 100%;
    padding: 10px 27px 0px 17px;
    border-right: solid black 1px;
    
}


/* done the left part of the navbar */
.search{
    background-color: white;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#toTheRight{
    margin-left: 10px;
}

