:root{
    --primary-color: #333;
    --font-color:#ccc;
    --hovered-color:#fff;
}


body{
    text-transform: capitalize;
    font-size: 14px;
}

div.row{
background-color: var(--primary-color);
color:var(--font-color);
height: 45px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-right: 0;
}
#toTheLeft{
    background-color: orangered;
    height: 100%;
    border-radius: 50px;
    padding-top: 10px;
    color: white;
}

.home{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
    background-color: black;
}
.feed{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
}
.library{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
}
/* done the left part of the navbar */
.search{
    position: relative;
}
.search i{
    color: var(--primary-color);
    position: absolute;
    font-size: 18px;
    right: -31px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
}
.search input{
    width: calc(100% + 50px);
    margin-top: 5px;
    height: 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 11px;
    background-color: #e5e5e5;
    color: #666;
    transition: 0.5s;
}
.search input:focus{
    background-color: white;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#toTheRight{
    margin-left: 10px;
}


.pro a{
    text-decoration: none;
    color: #f50;
    font-size: 14px;
}
.pro{
    padding-left: 15px;
    height: 30px;
    margin-top: 10px;
}
.pro a:hover{
    color: #f70;
}

.artist{
    padding-left: 15px;
    height: 30px;
    margin-top: 10px;
}
.artist:hover{
    color: var(--hovered-color);
}
.upload{
    padding-left: 20px;
    height: 30px;
    margin-top: 10px;
}
.upload:hover{
    color: var(--hovered-color);
}
.userDownList{
    padding-left: 20px;
    margin-left: -25px;
}







.btn {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--font-color);
    cursor: pointer;
}
.btn:hover{
    color: var(--hovered-color);
}