:root{
    --primary-color: #333;
    --font-color:#ccc;
    --hovered-color:#fff;
}
body{
    text-transform: capitalize;
    font-size: 14px;
}

/* Start Of the left part of the navbar */
nav .row{
background-color: var(--primary-color);
color:var(--font-color);
height: 45px;
}
nav .row .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-right: 0;
    color: #bbb;
    transition: 0.5s;
}
nav .row .left .logo{
    background-color: orangered;
    height: 100%;
    border-radius: 50px;
    padding-top: 10px;
    color: white;
}
nav .row .left .home{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
    background-color: black;
    color: white;
}
nav .row .left .feed{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
}
nav .row .left .library{
    height: 100%;
    padding-top: 10px;
    border-right: solid black 1px;
}
nav .row .left .feed:hover, 
nav .row .left .library:hover{
   color: white;
}
/* End Of the left part of the navbar */

/* Start Of the Center part of the navbar */
nav .row .search{
    position: relative;
}
nav .row .search input{
    width: calc(100% + 50px);
    margin-top: 5px;
    height: 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 11px;
    background-color: #e5e5e5;
    color: #666;
    transition: 0.5s;
}
nav .row .search i{
    color: var(--primary-color);
    position: absolute;
    font-size: 18px;
    right: -31px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
}
nav .row .search input:focus{
    background-color: white;
}
/* End Of the Center part of the navbar */

/* Start Of the Right part of the navbar */
nav .row .right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav .row .right .pro{
    padding-left: 15px;
    height: 30px;
    margin-top: 10px;
}
nav .row .right .pro a{
    text-decoration: none;
    color: #f50;
    font-size: 14px;
    margin-left: 28px;
}
nav .row .right .pro a:hover{
    color: #f70;
}
nav .row .right .artist{
    padding-left: 15px;
    height: 30px;
    margin-top: 10px;
}
nav .row .right .artist:hover{
    color: var(--hovered-color);
}
nav .row .right .upload{
    padding-left: 20px;
    height: 30px;
    margin-top: 10px;
}
nav .row .right .upload:hover{
    color: var(--hovered-color);
}
nav .row .right .userDownList{
    padding-left: 20px;
    margin-left: -25px;
}
nav .row .right .userDownList ul .nav-item .dropdown-menu li{
    display: flex;
    align-items: center;
}
nav .row .right .userDownList ul .nav-item .dropdown-menu li i{
    padding-left: 10px;
}
.btn {
    border: none;
    background-color: transparent;
    color: var(--font-color);
    cursor: pointer;
}
.btn:hover{
    color: var(--hovered-color);
}
/* End Of the Right part of the navbar */