.container {
  background-color: black;
  height: 300vh;
}
.container .row {
  height: 100%;
}
.container .row .left {
  background-color: blue;
  height: 150%;
}
.container .row .right {
  background-color: yellow;
  height: 100%;
}
.container .row .left div {
  height: 100px;
}
.container .row .right div{
    height: 100px;
}
.container .row .right div:nth-child(1){
    position: sticky;
    top: 10%;
}
.container .row .right div:nth-child(2){
    position: sticky;
    top: 20%;
}
.container .row .right div:nth-child(3){
    position: sticky;
    top: 30%;
}
.container .row .right div:nth-child(4){
    position: sticky;
    top: 40%;
}